@using Saver.FinanceService.Contracts.Reports
@using Saver.FinanceService.Contracts.Transactions

<div class="bg-light flex-fill rounded-2 m-0 p-3">
    <label class="mb-2">@Header</label>
    
    <div>
        @if (CategoriesReport != null)
        {
            @if (CategoriesReport.Count > 0)
            {
                @foreach (var category in CategoriesReport)
                {
                    <div class="d-flex">
                        <p class="fs-5">@category.Category.Name</p>
                        <div class="ms-auto">
                            <p class="mb-1 h5">@category.Value.ToCurrencyString(CurrencyCode)</p>
                            <div class="d-flex justify-content-end">
                                <ValueDifferenceIndicator
                                    Value="@category.ChangeInLast30Days" 
                                    CurrencyCode="@CurrencyCode" 
                                    Invert="@ShouldInvertDifference"/>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>No categories available.</p>
            }
        }
        else
        {
            <p>Loading...</p>
        }
    </div>
</div>

@code {
    [Parameter] public string Header { get; set; } = string.Empty;
    [Parameter, EditorRequired] public List<CategoryReportEntryDto>? CategoriesReport { get; set; }
    [Parameter, EditorRequired] public string CurrencyCode { get; set; } = string.Empty;
    [Parameter, EditorRequired] public TransactionType TransactionType { get; set; }

    private bool ShouldInvertDifference => TransactionType == TransactionType.Outcome;
}
