@using Saver.FinanceService.Contracts.BankAccounts
@using Saver.FinanceService.Contracts.Currency

@inherits ModalFormComponentBase

@inject ICurrencyApiClient CurrencyApiClient
@inject IBankAccountsApiClient BankAccountsApiClient

<div class="modal fade" id="@FormName" tabindex="-1" aria-labelledby="account-form-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="account-form-title">Edit bank account</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <EditForm FormName="@FormName" EditContext="_editContext" OnValidSubmit="SaveAsync">
                <div class="modal-body">
                    <DataAnnotationsValidator />
                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <InputText class="form-control" @bind-Value="BankAccountViewModel.Name" placeholder="Your bank account name" />
                        <ValidationMessage For="() => BankAccountViewModel.Name" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Currency</label>
                        <InputSelect Value="BankAccountViewModel.CurrencyCode" ValueExpression="() => BankAccountViewModel.CurrencyCode" ValueChanged="(string s) => CurrencyCodeChanged(s)" class="form-select">
                            @foreach (var supportedCurrency in SupportedCurrencyCodes)
                            {
                                <option value="@supportedCurrency">@supportedCurrency</option>
                            }
                        </InputSelect>
                        <ValidationMessage For="() => BankAccountViewModel.CurrencyCode" />
                    </div>
                    @if (CurrencyHasChanged && AccountCurrencyChangeInfo != null)
                    {
                        <div class="mb-3">
                            <p>The exchange rate for currency change is: @AccountCurrencyChangeInfo.ExchangeRate</p>
                            <p>Your transactions will be recalculated. Balance after change will be: @AccountCurrencyChangeInfo.BalanceAfterChange.ToCurrencyString(BankAccountViewModel.CurrencyCode)</p>
                        </div>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary rounded-3" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success rounded-3">Edit account</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    public const string FormName = "edit-bank-account-form";

    [Parameter, EditorRequired] public List<string> SupportedCurrencyCodes { get; set; } = [];
    [Parameter] public EventCallback<EditBankAccountViewModel> OnSave { get; set; }

    private EditBankAccountViewModel _bankAccountViewModel = new();
    public EditBankAccountViewModel BankAccountViewModel
    {
        get => _bankAccountViewModel;
        set
        {
            _bankAccountViewModel = value;
            _originalCurrencyCode = _bankAccountViewModel.CurrencyCode;
        }
    }

    private Guid _bankAccountId;
    private string _originalCurrencyCode = string.Empty;
    private AccountCurrencyChangeInfo? AccountCurrencyChangeInfo { get; set; }
    private bool CurrencyHasChanged => _bankAccountViewModel.CurrencyCode != _originalCurrencyCode;

    private EditContext? _editContext;
    private ValidationMessageStore? _validationMessageStore;

    public void LoadBankAccountFromDto(BankAccountDto bankAccountDto)
    {
        _bankAccountId = bankAccountDto.Id;
        BankAccountViewModel = new EditBankAccountViewModel
        {
            Name = bankAccountDto.Name,
            CurrencyCode = bankAccountDto.CurrencyCode
        };

        _editContext = ResetEditContext();
    }

    protected override void OnInitialized()
    {
        _editContext = ResetEditContext();
        _validationMessageStore = new ValidationMessageStore(_editContext);
    }

    private async Task SaveAsync()
    {
        var request = new EditManualBankAccountRequest
        {
            Name = BankAccountViewModel.Name,
            AccountId = _bankAccountId,
            CurrencyCode = BankAccountViewModel.CurrencyCode
        };

        var response = await BankAccountsApiClient.EditManualBankAccountAsync(request);

        if (!response.IsSuccessStatusCode)
        {
            return;
        }

        await HideModalAsync(FormName);
        await OnSave.InvokeAsync(BankAccountViewModel);
    }

    private async Task CurrencyCodeChanged(string? newCurrencyCode)
    {
        BankAccountViewModel.CurrencyCode = newCurrencyCode ?? string.Empty;

        if (!CurrencyHasChanged)
        {
            return;
        }

        AccountCurrencyChangeInfo = (await CurrencyApiClient.GetAccountCurrencyChangeInfoAsync(_bankAccountId, BankAccountViewModel.CurrencyCode)).Content;
        StateHasChanged();
    }

    private EditContext ResetEditContext()
    {
        var editContext = new EditContext(BankAccountViewModel);
        editContext.OnValidationRequested += (_, _) => _validationMessageStore?.Clear();
        return editContext;
    }
}
