@using Saver.FinanceService.Contracts.Categories
@using Saver.FinanceService.Contracts.Transactions
@inherits ModalFormComponentBase
@inject ITransactionsApiClient TransactionsApiClient

<div class="modal fade" id="@FormName" tabindex="-1" aria-labelledby="account-form-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="account-form-title">@(EditOrNewSelector("New", "Edit")) transaction</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <EditForm FormName="@FormName" EditContext="_editContext" OnValidSubmit="SaveAsync">
                <div class="modal-body">
                    <DataAnnotationsValidator />
                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <InputText class="form-control" @bind-Value="TransactionViewModel.Name" placeholder="The name of your transaction" />
                        <ValidationMessage For="() => TransactionViewModel.Name" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Description</label>
                        <InputText class="form-control" @bind-Value="TransactionViewModel.Description" placeholder="Some description of your transaction" />
                        <ValidationMessage For="() => TransactionViewModel.Description" />
                    </div>
                    @if (!IsFromExternalAccount)
                    {
                        <div class="mb-3">
                            <label class="form-label">Date</label>
                            <InputDate class="form-control" Type="InputDateType.Date" @bind-Value="TransactionViewModel.CreatedDate"/>
                            <ValidationMessage For="() => TransactionViewModel.CreatedDate" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Value</label>
                            <InputNumber TValue="decimal" class="form-control" @bind-Value="TransactionViewModel.Value" @bind-Value:format="N2"/>
                            <ValidationMessage For="@(() => TransactionViewModel.Value)" />
                        </div>
                    }
                    <div class="mb-3">
                        <label class="form-label">Category</label>
                        <InputSelect @bind-Value="TransactionViewModel.CategoryId" class="form-select">
                            <option selected>Uncategorized</option>
                            @foreach (var category in Categories)
                            {
                                <option value="@category.Id">@category.Name</option>
                            }
                        </InputSelect>
                        <ValidationMessage For="() => TransactionViewModel.CategoryId"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary rounded-3" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success rounded-3">@(EditOrNewSelector("Create", "Edit")) transaction</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    public Guid TransactionId { get; set; } = default;
    [Parameter, EditorRequired] public List<CategoryDto> Categories { get; set; } = [];
    [Parameter, EditorRequired] public Guid AccountId { get; set; }
    [Parameter] public EventCallback<TransactionViewModel> OnSave { get; set; }
    [Parameter] public bool IsFromExternalAccount { get; set; } = false;

    public TransactionViewModel TransactionViewModel { get; set; } = new();

    private EditContext? _editContext;
    private ValidationMessageStore? _messageStore;
    public const string FormName = "transaction-form";

    public Func<string, string, string> EditOrNewSelector = null!;

    public void LoadTransactionFromDto(TransactionDto transactionDto)
    {
        TransactionId = transactionDto.Id;
        TransactionViewModel = new TransactionViewModel
        {
            Name = transactionDto.Name,
            Description = transactionDto.Description,
            Value = transactionDto.Value,
            CreatedDate = transactionDto.CreatedDate,
            CategoryId = transactionDto.Category?.Id
        };

        _editContext = ResetEditContext();
    }

    public void ClearForm()
    {
        TransactionId = default;
        TransactionViewModel = new TransactionViewModel();
        _editContext = ResetEditContext();
    }

    protected override void OnInitialized()
    {
        EditOrNewSelector = (ifNew, ifEdit) => TransactionId == default ? ifNew : ifEdit;
        ResetEditContext();
        _editContext = ResetEditContext();
        _messageStore = new ValidationMessageStore(_editContext);
    }

    private async Task SaveAsync()
    {
        HttpResponseMessage response;
        if (TransactionId != default)
        {
            var request = new EditTransactionRequest
            {
                AccountId = AccountId,
                CategoryId = TransactionViewModel.CategoryId,
                Description = TransactionViewModel.Description,
                CreatedDate = TransactionViewModel.CreatedDate,
                Name = TransactionViewModel.Name,
                TransactionId = TransactionId,
                Value = TransactionViewModel.Value
            };

            response = await TransactionsApiClient.EditTransactionAsync(request);
        }
        else
        {
            var request = new CreateTransactionRequest
            {
                AccountId = AccountId,
                CategoryId = TransactionViewModel.CategoryId,
                Description = TransactionViewModel.Description,
                CreatedDate = TransactionViewModel.CreatedDate,
                Name = TransactionViewModel.Name,
                Value = TransactionViewModel.Value
            };

            response = await TransactionsApiClient.CreateTransactionAsync(request);
        }

        if (!response.IsSuccessStatusCode)
        {
            return;
        }

        await HideModalAsync(FormName);
        await OnSave.InvokeAsync(TransactionViewModel);
    }

    private EditContext ResetEditContext()
    {
        var context = new EditContext(TransactionViewModel);
        context.OnValidationRequested += (_, _) => _messageStore?.Clear();
        return context;
    }
}
